@charset "UTF-8";
#explain_img{
	background-image:url("../img/무지개.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	height:400px;
	display:flex;
}
#explain_box{
	height:110px;
	width:700px;
	margin: 154px 0px 0px 300px;
	color:#353535;
}
#explain_title{
	font-size:40px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;
	margin-bottom:5px;
}
.explain_subtitle{
	font-size:15px;
	font-weight:bold;
	margin:5px;
}

#main_div{
	min-height:800px;
	width:100%;
	max-width:1400px;
	margin:10px auto;
	display:flex;
	flex-wrap:wrap;
}
#main a:visited{
	color:#353535;
}
#main a:active{
	color:#353535;
}
.main_border{
    border: 7px solid #a5dbdc;
	text-decoration: none;
	color:#353535;
	justify-content: center;
	cursor:pointer;
	height:330px;
	width:330px;
  	border-radius: 20px 60px 100px 140px;
	background-color:white;
	margin:33px 0px;
	margin-left:105px;
}


#pet_name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin:7px 0px;
}
.pet_img{
    width: 204px;
    height: 204px;
    margin: 0px 0px 6px 63px;
    border-radius: 50%;
}
#pet_diary{
   	font-size:33px;
   	font-family: 'Black Han Sans', sans-serif;
   	margin-top: 4px;
   	text-align:center;
}
#register_img{
	height:208px;
    width:235px;
    margin: 30px 0px 0px 54px;
}
#register_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
	text-align:center;
	margin: 18px 0px 0px 11px;
}
