@charset "UTF-8";

#explain_img{
	background-image:url("../img/main.jpg");
	background-size:80% 100%;
	background-position:center;
	background-repeat:no-repeat;
	height:650px;
	display:flex;
	align=center;
}
#explain_box{
	height:150px;
	width:500px;
	margin: 253px 0px 0px 300px;
	color:#353535;
}
.explain_title{
	font-size:45px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;	
}
.explain_subtitle{
	font-size:15px;
	font-weight:bold;
	margin:0px;
}

/* ↑멍냥존 설명 영역----------------------------------------*/
#search_div{
    margin:30px auto;
    padding:0px;
    max-width:1520px;
    height:40px;
    justify-content:center;
}
.search_box{
	padding: 11px;
	transform: translate(-85%,-15%);
	height: 30px;
	background-color: #fff;
	border: 4px solid #a5dbdc;
	border-radius: 30px;
	transition: 0.4s;
	width:30px;
	margin-left:1450px;
}
.search_box:hover{
	box-shadow: 0px 0px .5px 1px #51e3d4;
	width: 282px;
}
.search_btn{
	text-decoration: none;
	float: right;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: 3px solid #a5dbdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a5dbdc;
}
.search_box:hover > .search_btn{
	background-color: #fff;
}
.search_txt{
	display: flex;
	padding: 0;
	width: 0px;
	border:none;
	background: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
	transition: .4s;
}
.search_box:hover > .search_txt{
	width: 240px;
	padding: 0 6px;
}
/* ↑검색창 버튼영역----------------------------------------*/

#main_div1{
	background-color:#fedcda;
	height:500px;
	width:100%;
	max-width:1400px;
	margin:0px auto;
	display:flex;
	justify-content: space-between;
}
#main a{						
	text-decoration: none;
	color:#353535;
	display:flex;
	justify-content: center;
}
#main a:visited{
	color:#353535;
}
#main a:active{
	color:#353535;
}
#MNpet{
	height:350px;
	width:350px;
  	border-radius: 20px 60px 100px 140px;
	background-color:white;
	float:right;
	margin:auto 0px;
	margin-left:125px;
}
#MNpet img{
	height:200px;
    width:320px;
    margin:37px 25px;
}
#register_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
}
#MNdoctor{
	height:350px;
	width:350px;
	border-radius: 20px 60px 100px 140px;
	background-color:white;
	margin:auto 0px;
}
#MNdoctor img{
	height:200px;
	width:320px;
	margin:47px 27px;	
}
#hospital_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
	margin:-20px;
}
#MNmissing{
	height:350px;
	width:350px;
	border-radius: 20px 60px 100px 140px;
	background-color:white;
	float:left;
	margin:auto 0px;
	margin-right:125px;
}
#MNmissing img{
	height:310px;
    width:360px;
    margin:-13px 0px -15px 86px;
}
#emergency_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
	margin:-6px;
}

/* ↑ 핑크색 영역------------------------------------------*/

#main_div2 {
	background-color: #f8fbc9;
	width: 100%; 
	height:530px;
	margin:100px auto;
	max-width: 1400px;
	padding: 0px;
	position: relative; 
	top: 0px;
}
.slide_wrapper img{
	width: 300px; 
	height:300px; 
}
#show_text{
	font-size:40px;
	font-family:'Black Han Sans', sans-serif;
	display:flex;
	justify-content: center;
	width:100%;
	height:60px;
	padding-top: 40px;
}
#main_div2 li,#main_div3 li{
	list-style:none;
}
.slide_wrapper{
	position:relative;
	width:1075px;
	height:420px;
	margin:45px auto;
	overflow:hidden;
}
.slides{
	position:absolute;
	left:0;
	top:0;
}
.slides.animated{
	transition: 1s ease-out;	/*ease-out:끝이 좀 느리게*/
}	
.slides li{
	width:300px;
	height:420px;
	float:left;
}

.slides li:not(:last-child){
	margin-right:80px;
}
.controls{
	display:flex;
	justify-content: center;
}
.prev{
	padding:20px;
    margin: -380px 1070px 0px 0px;
    cursor:pointer;
    width:120px;
    height:85px;
}
.next{
	padding:20px;
    margin: -380px 0px;;
    cursor:pointer;
    width:120px;
    height:85px;
}
.controls img:hover{
	opacity:0.6;
}
#main_div3{

}
/* ↑ 노란색 영역----------------------------------------*/

#main_div3{
	background-color:#d9d9d9;
	height:640px;
	width:100%;
	max-width:1400px;
	margin:0px auto;
	margin-top:100px;
	justify-content: center;
	display:flex;
}
#calculator_imgdiv{
	height:600px;
}
#calculator_imgdiv img{
	height:500px;
	width:430px;
	margin: 70px 0px 0px 200px;
}
#calculator{
	height:600px;
	width:1000px;
	margin: 50px 70px 0px 10px;
}
#calculator_text1 p{
	font-size:42px;
	font-family:'Black Han Sans', sans-serif;
	margin:0px;
	justify-content: center;
	display:flex;
}
.calculator_subtext{
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	justify-content: center;
	display:flex;	
}
#calculator_input{
	height:235px;
    width:460px;
    margin:23px auto;
    padding:20px;
    border-radius:20px;
    background-color:white;
    justify-content:center;
    display:flex;
}
table{
	margin:0px auto;
}
.sub_title{
	width:120px;
	height:60px;
	margin-right:20px;
	font-weight:bold;
}
.sub_title{
	width:90px;
}
#calculator_input input[type="checkbox"]{
 	cursor:pointer;
}
#calculator_input input[type="text"]{
	width:160px;
	height:50px;
 	border:none;
 	outline: none;
 	cursor:pointer;
}
#calculator_input select{
	width:100px;
	border:none;
 	outline: none;
 	cursor:pointer;
}
#submit_btn{
	width:136px;
 	height:40px;
 	border:none;
 	border-radius:20px;
 	margin-left:130px;
 	cursor:pointer;
}
#submit_btn:hover{
	background-color:#51e3d4;
}
#age_result{
	font-size:50px;
	font-family:'Black Han Sans', sans-serif;
	margin:0px;
	justify-content: center;
	display:flex;	
}
#age_text{
	font-size:16px;
	font-weight:bold;
	display:flex;
	text-align:center;
	justify-content: center;
	margin-top:5px;
}






















