@charset "UTF-8";

#title{
	width:100%;

}
#titleimg{
	width: 550px;
	height:240px;
	margin: 10pX auto;
	padding:40px;
	display:flex;
	justify-content:center;
}
#box{
	width : 310px;
	padding: 10px 40px;
	margin: 10pX auto;
	height:490px;
	background-color:white;
}
.log{
	width: 92%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    color: #606060;
    border: 1px solid #606060;
    border-radius: 5px;
}

#log_join{
   width:100px;
   margin: 4px 170px;
   padding:2px 20px;
   display:flex;
   justify-content:right;
   font-size:14px;
    color:rgb(122 118 118 / 86%);
}


#log_btlog{
	width: 300px;
	height: 38px;
    font-size: 15px;
    font-weight: bold;
    background-color: #a5dbdc;
    color: #606060;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#kakaoBtn{
  margin-top: 4px;
}

#btlog:hover {
    background-color: #fedcda;
}



----------------------------------------------------서하로그인{}

.xbutton{
   width:25px;
   height:25px;
   position:absolute;
   top:2%;
   left:91%;
   cursor:pointer;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #7a7a7a;
    background-color: #fedcda;
}

.oh{
   overflow:hidden;
}
.opacityall{
   opacity:0.2;
   background:gray;
}

#other{
   width:5000px;
   height:2000px;
   opacity:0.6;
   background:gray;
   position:fixed;
   z-index:10
}

.blind{
    display:none;
    transition:1s;
    width:0!important;
    height:0!important
}

#log_title{
   width:100%;
}

#log_titleimg{
   width: 550px;
   height:240px;
   margin: 10pX auto;
   padding:40px;
   display:flex;
   justify-content:center;
}

#log_box{
   width : 305px;
   padding: 10px 40px;
   margin: 0pX auto;
   height:400px;
   background-color:white;
   justify-content:center;
}

.log_log{
    width:299px;
    height: 40px;
    margin-bottom: 20px;

    font-size: 16px;
    color: #606060;
    border: 1px solid #606060;
    border-radius: 5px;
}


#log_btlog:hover {
    background-color: #fedcda;
}

