@charset "UTF-8";

#t_member_join{
	width:100px;
	margin: 4px 170px;
	padding:5px 19px;
	display:flex;
	justify-content:right;
	font-size:16px;
 	color:#686868;
}

#t_member_join{
	margin-top:-5px;
}

#t_member_submit{
     margin-top:-5px;
}

#t_member_main_head{
	width :98%;
	margin:0px auto;
	background-image:url("../img/join_foot.jpg");
	background-size:198px 135px;
	background-repeat: no-repeat;
	background-position: right center;
}

#t_member_main{
	width: 610px;
    height: 730px;
    padding:10px 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    border: 2px solid #adadad;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}

#t_member_join_img{
	width: 120px;
    height: 120px;
    display: block;
    margin: 0px auto;
    margin-top: 0px;
    margin-bottom: -20px;
}

#t_member_jointable{
	display: flex;
    justify-content: center;
    align-items: center;
}

.t_member_input {
    width: 235px;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

#t_member_chkNotice{
	margin:0px 100px;
}
#t_member_birth_year,
#t_member_birth_month,
#t_member_birth_day {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
    color: #808080;
}

#t_member_sido1{
	width:170px;
	height:38px;
	margin:0px auto;
	font-size: 12px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
    color:#808080;
}

#t_member_gugun1{
	width:100px;
	height:38px;
	margin:0px auto;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
    color:#808080;
}

.t_member_input:focus{
	border-color:#808080;
}
.t_member_submit{
	margin-bottom: 15px;
    margin-top: 20px;
    background-color: #fedcda;
    border: none;
    border-radius: 10px;
    color: #808080;
    font-size: 18px;
    font-weight:bold;
    padding: 5px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.t_member_submit:hover{
	background-color: #f8fbc9;
}

td{
	font-weight:bold;
}

#main input::placeholder {
  font-size: 12px;
}





























