@charset "UTF-8";

.container{
    max-width:1050px;
    width:100%;
    margin:0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 30px;
}
.goMissing{
    width: 115px;
    height: 20px;
    cursor: pointer;
    background-color: #fedcda;
    color: #7a7a7a;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    float: right;

}

.goMissing:hover{
	background:rgb(222, 222, 222);
	color:rgb(93, 93, 93);
}
.contentKind{
    font-size:30px;
    font-weight:bold;
}

.dtlTitle{
    width:1050px;
    height:50px;
    margin:0 auto;
    margin-top: 40px;
    font-size:30px;
    font-weight:bold;
}
.line{
   margin: 20px 0px 10px 0px;
}
.missing_subDtl_div{
    line-height: 10px;
    width: 1050px;
    text-align: right;
    font-size:15px;
    font-weight:500;
    color: #666;
}
.author{
    margin-right:15px;
}

.dtlSummary{
    width: 1050px;
    height: 400px;
    margin: 50px 0px;
}

.repImgDiv{
    width:400px;
    height:400px;
    margin-left: 120px;
    float:left;
    overflow: hidden;
}
.repImgDiv img{
    width:400px;
    height:400px;
}
.text_right{
    margin-top: 35px;
    width: 510px;
    height: 367px;
    font-size: 18px;
    margin-left: 20px;
    float: left;
}
.text_right h2{
    margin-bottom:35px;
}
.default_text{
    display:flex;
}
.default_text p{
    width:121px;
    margin-bottom:25px;
    display:inline;
    text-align: center;
}
.letter_space{
    letter-spacing: 2px;
}
.default_text label{
    margin:0px 10px;
}

.dtlContent{
    clear:both;
    width:1050px;
    font-size:15px;
}

.ck_div{
    min-height:200px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 30px;
    margin-bottom:30px;
}
.ck_div img{
    max-width:400px;
    max-height:400px;
}

.dtlImgDiv{
    display:flex;
    flex-wrap:wrap;
}
.dtlImgCard{
    width:300px;
    height:300px;
    overflow: hidden;
    margin:20px;
}

.btn_div{
    width:1050px;
    height:50px;
}

.btn_div a{
	width: 45px;
    height: 20px;
    cursor: pointer;
    background-color: #fedcda;
    color: #7a7a7a;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0px 20px 10px;
    float: right;
    text-align: center;
}
.btn_div a:hover{
	background:rgb(222, 222, 222);
	color:rgb(93, 93, 93);
}
.line2{
   margin: 30px 0px 50px 0px;
}

.my_comment_div{
    clear:both;
    display:flex;
    margin-bottom:70px;
}
.my_comment_div img{
    width:70px;
    height:70px;
    border-radius:50%;
    margin: auto 0px;
}
.comment_input{
    margin-left: 50px;
    line-height: 20px;
    width: 770px;
    min-height:80px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}
.comment_btn{
	width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #fedcda;
    color: #7a7a7a;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0px 0px 30px;
    font-weight: 600;
}
.comment_btn:hover{
    background:rgb(222, 222, 222);
	color:rgb(93, 93, 93);
}
.all_comment_div{
    clear:both;
    display: flex;
}
.comment_nickName{
    width: 220px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.comment_nickName img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.comment_nickName span{
    margin-left:15px;
    font-size: 17px;
    font-weight: 500;
}

.comment_updateTime{
    height: 20px;
    margin-top: -20px;
    color: #888;
    font-size: 15px;
    float: right;
}
.comment_content{
    width: 680px;
    min-height:50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom:20px;
    line-height: 50px;
}
.comment_btn_div{
    height: 70px;
    line-height: 70px;
}
.comment_btn_div a{
    width: 30px;
    height: 20px;
    cursor: pointer;
    background:rgb(222, 222, 222);
	color:rgb(93, 93, 93);
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 10px;
    font-weight: 500;
}
.comment_btn_div a:hover{
    background-color: #fedcda;
    color: #7a7a7a;
}