
#main_div{
	background-color:#fedcda;
	max-height:1200px;
	width:100%;
	max-width:1400px;
	margin:0px auto;
	display:flex;
	flex-wrap:wrap;		
}
#main a{						
	text-decoration: none;
	color:#353535;
	display:flex;
	justify-content: center;
}
#main a:visited{
	color:#353535;
}
#main a:active{
	color:#353535;
}
.main_border{
	height:330px;
	width:330px;
  	border-radius: 20px 60px 100px 140px;
	background-color:white;
	margin:33px 0px;
	margin-left:105px;
}
#information_edit_img{
	height: 230px;
    width: 230px;
    margin: 7px 21px 0px 25px;
}
#information_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;	
	margin-top:10px;
}
#reservation_img{
	height:206px;
	width:261px;
	margin:13px 0px 29px 5px;
}
#reservation_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;	
}
#my_writing_img{
	height:253px;
    width:280px;
    margin:-3px 0px -4px 0px;
}
#my_writing_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;	
}
#mypet1_img{
	height:208px;
    width:235px;
    margin:15px 0px 11px 26px;
}
#mypet1_text{
	font-size:33px;
	font-family: 'Black Han Sans', sans-serif;	
	margin-top:10px;
}
