
#main_div{
	background-color:#fedcda;
	max-height:1300px;
	width:100%;
	max-width:1300px;
	margin:0px auto;
	display:flex;
	flex-wrap:wrap;		
}
#main a{						
	text-decoration: none;
	color:#353535;
	display:flex;
	justify-content: center;
}
#main a:visited{
	color:#353535;
}
#main a:active{
	color:#353535;
}
.main_border{
	height:350px;
	width:350px;
  	border-radius: 20px 60px 100px 140px;
	background-color:white;
	margin:30px 0px;
	margin-left:125px;
}
#information_edit_img{
	height: 295px;
    width: 295px;
    margin: 10px 25px 5px 25px;
}
#information_text{
	font-size:31px;
	font-family: 'Black Han Sans', sans-serif;	
	margin-top:10px;
}
#reservation_img{
	height:225px;
	width:350px;
	margin:47px 27px;	
}
#reservation_text{
	font-size:30px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;	
}
#my_writing_img{
	height:320px;
    width:320px;
}
#my_writing_text{
	font-size:30px;
	font-family: 'Black Han Sans', sans-serif;
	margin:0px;	
}
#mypet1_img{
	height:235px;
    width:348px;
    margin:37px 25px;
}
#mypet1_text{
	font-size:31px;
	font-family: 'Black Han Sans', sans-serif;	
	margin-top:10px;
}
