<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer id="footer">
        <div id="footer_div1">
            <ul>
                <li><button>개인정보방침</button></li>
                <li><button>서비스 이용약관</button></li>
                <li><button>고객문의</button></li>
                <li><button>찾아오시는길</button></li>
            </ul>
        </div>
        <div id="footer_div2">
            <div id="footer_div3">
                <a href="/">
                    <img id="footer_img" th:src="@{/img/MN_mainLogo_white.png}" alt="멍냥존 로고">
                </a>
                <div id= "footertext">
                    <span>(주)멍냥존 | 대표이사 : 홍길동</span><br>
                    <span>44705 울산광역시 남구 삼산로 / 대표전화:02-123-4567</span><br>
                    <span>COPYRIGHT 2023 BY MEONGNYANG-ZONE.ALL RIGHTS RESERVED.</span><br>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>

</html>