<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <div id="container" class="other">
        <div id="header">
            <div id="headerContent">
                <div class="head" id="head1">
                    <h3 id="titleH3">
                        <a href="/">
                            <img id="main_logo" th:src="@{/img/MN_mainLogo_gray.png}" alt="멍냥존 로고">
                        </a>
                    </h3>
                    <ul>
                        <li><a href="/">멍냥닥터</a></li>
                        <li><a href="/"></a>멍냥만나</li>
                        <li><a th:href="@{/missing}">멍냥실종</a></li>
                        <li><a th:href="@{/notice/list}">멍냥공지</a></li>
                    </ul>
                </div>
                <div class="head" id="head2">
                    <img class ="head2_navBar" th:src="@{/img/navBar.png}" alt="더보기 버튼" sec:authorize="isAnonymous()" onclick="login1()">
                    <img class ="head2_userProfile" th:if="${userName==null}" th:src="@{/img/userProfile.png}" alt="비회원 기본 이미지" sec:authorize="isAnonymous()" onclick="login1()">
                    <a href = "/members/logout"><img class="userDefaultImg" th:src="@{/img/pet_DefaultProfile.png}" alt="회원 기본 이미지" sec:authorize="isAuthenticated()"></a>
                    <a href = "/members/logout"><span class="userNickName"  alt="로그아웃창" sec:authorize="isAuthenticated()"> [[${userName}]] 님</span></a>
                </div>




                        <!--                <form class="" th:action="@{/}" method="get">-->
<!--                    <input name="searchQuery" class="" type
="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
</html>