<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<title>멍냥실종 : 글 상세보기</title>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function updateComment(commentId) {
            var confirmation = confirm('댓글을 수정하시겠습니까?');

            if (confirmation) {
                // 사용자가 확인을 눌렀을 때의 동작
                var url = /*[[@{/missing/content/updateComment}]]*/ '/missing/content/updateComment';
                var commentText = prompt('수정할 댓글을 입력하세요', '');

                if (commentText !== null) {
                    // Ajax를 사용하여 댓글 수정 요청을 서버에 보냅니다.
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            missingCommentId: commentId,
                            missingComment: commentText
                        },
                        success: function (response) {
                            // 성공 시 동작
                            alert('댓글이 성공적으로 수정되었습니다.');
                            // 수정된 내용을 화면에 반영하거나 페이지 리로드 등의 동작을 수행할 수 있습니다.
                        },
                        error: function (error) {
                            // 에러 시 동작
                            alert('댓글 수정 중 오류가 발생했습니다.');
                        }
                    });
                }
            } else {
                // 사용자가 취소를 눌렀을 때의 동작
                console.log('댓글 수정이 취소되었습니다.');
            }
        }
    </script>


</th:block>

<!--  CSS  -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/missingDtl.css}">
</th:block>

<div class = "container" layout:fragment="content">

<!--    <input type="hidden" id="missing_id" th:value="${missing.missingId}">-->
    <a class="goMissing" href="/missing" >목록으로 돌아가기</a>

    <div class="dtlTitle">
            <span th:if="${missing.missingKind.name() == 'DISAPPEAR'}" class="contentKind" style="color:red;">
                &nbsp;[실종]&nbsp;
            </span>
            <span th:if="${missing.missingKind.name() == 'WITNESS'}" class="contentKind" style="color:#FFBF00;">
                &nbsp;[목격]&nbsp;
            </span>
            <span th:if="${missing.missingKind.name() == 'PROTECT'}" class="contentKind" style="color:#2E9AFE;">
                &nbsp;[보호]&nbsp;
            </span>
            <span class="missing_title" th:text="${missing.missingTitle}"></span>
            <hr class="line">
        <div class="missing_subDtl_div">
            <span >작성자 : </span><span class="author" th:text="${missing.member.nickName}"></span>
            <span>작성일 : </span><span th:text="${missing.formattedRegDate}"></span>
        </div>
    </div>

    <div class="dtlSummary">
        <div class="repImgDiv">
            <img th:src="@{${missing.missingRepImg}}" class = "repImg" th:alt="${missing.missingTitle}">
        </div>

        <div class="text_right">
            <h2>기본 정보</h2>
            <div class="default_text">
                <p>마지막 목격장소</p>
                <label>:</label>
                <span th:text="${missing.sightingSpot}"></span>
            </div>
            <div class="default_text">
                <p>마지막 목격날짜</p>
                <label>:</label>
                <span th:text="${missing.sightingDate}"></span>
            </div>
            <div class="default_text">
                <p class="letter_space">보호자 연락처</p>
                <label>:</label>
                <span th:text="${missing.witnessTel}"></span>
            </div>
            <div class="default_text">
                <p class="letter_space">주요 특이사항</p>
                <label>:</label>
                <span th:text="${missing.feature}"></span>
            </div>
        </div>
    </div>

    <div class="dtlContent">
        <div class="ck_div" th:utext="${missing.missingContent}"> </div>
    </div>

    <div th:if="${missing.member.code == session.memberCode}">
        <form id="deleteForm" role="form" method="post"  th:object="${missingFormDTO}" >
            <div class="btn_div" >

                <a href="#" onclick="updateComment(${comment.missingCommentId})">수정</a>


                <a th:href="@{/missing/delete(missingId=${missing.missingId})}" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </div>
        </form>
    </div>

    <hr class="line2">
    <form th:action="@{/missing/content/{missingId}(missingId=${missing.missingId})}" method="post" th:object="${newComment}" >
        <input type="hidden" th:name="memberCode" th:value="${#session.getAttribute('memberCode')}">
        <div class="my_comment_div">
            <img src="/img/pet_simba.jpg">
            <label for="comment_input"></label>
            <textarea id="comment_input" class="comment_input" name="comment_input" th:field="*{missingComment}" placeholder="내 댓글 남기기"></textarea>
            <button class="comment_btn" type="submit" >댓글 작성</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <div id="all_comment_div">
        <div th:each="comment : ${comments}" class="all_comment_div">

            <div class="comment_nickName">
                <img th:src="${comment.missing.missingRepImg}" alt="Profile Image">
                <span th:text="${comment.member.nickName}"></span>
            </div>

            <div class="comment_content">
                <div class="comment_updateTime">
                    <span>작성일 : </span>
                    <span  th:text="${#temporals.format(comment.updateTime, 'yyyy-MM-dd')}"></span>
                </div>
                <span th:text="${comment.missingComment}"></span>
            </div>

<!--            <div th:if="${comment.member.code == session.memberCode}" class="comment_btn_div">-->
<!--                <form id="comment_deleteForm" role="form" method="post"  th:object="${missingCommentDTO}" >-->

<!--                    <a>수정</a>-->
<!--                    <a th:href="@{/missing/delete(missingId=${missing.missingId})}" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

<!--                </form>-->
<!--            </div>-->

            <div th:if="${comment.member.code == session.memberCode}" class="comment_btn_div">
                <form id="comment_updateForm" role="form" method="post" th:action="@{/missing/content/updateComment}" th:object="${newComment}">
                    <input type="hidden" th:name="commentId" th:value="${comment.missingCommentId}">
                    <a href="#" onclick="updateComment('${comment.missingCommentId}')">수정</a>
                    <a>삭제</a>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </form>
            </div>




        </div>

    </div>

</div>


</html>