<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>멍냥존 : 글쓰기</title>
<link rel="stylesheet" href="../../../../../../../project/WebContent/css/missing_write.css">
</head>
<body>
<div id="container">


		<div id="container1">
			<form action="#" id="form1">
			<br> 
				<input id="title1" type="text" placeholder="제목">
				<input id="img1" type="text" placeholder="프로필 이미지 주소">
				<input id="title2" type="text" placeholder="닉네임">
				<input id="img2" type="text" placeholder="이미지 주소">
			<hr>
			<br>
				<textarea id="content1" placeholder="내용을 입력해 주세요."></textarea>
				
		</form>
		</div>	

<script type="text/javascript" src="js\missing_write.js"></script>
</body>
</html>