<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>멍냥Zone : 멍냥실종</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../../project/WebContent/css/missing.css" />
		<link rel="stylesheet" type="text/css" href="../../../../../../../project/WebContent/css/main_style.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" >
		<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
		
	</head>
	<body>
		<div id="container">

			<div id="main">
				<div id="main_div1">
					<div id="explain_img">
						<div id="explain_box">
							<p id="explain_title">멍냥실종</p>
							<p class="explain_subtitle">멍냥이를 실종, 보호, 목격하셨다면 글을 남겨주세요</p>
							<p class="explain_subtitle">당신의 제보가 큰 힘이 됩니다!</p>
						</div>					
					</div>	
					<div id="button_div">
						<button type="button" id="write" onclick="openTok()">글쓰기</button>	
					</div>
				</div>	
				<div id="tokContent">
					<div id="tokCnt">
						<span id="tokCntPrintf">개의 글</span>
					</div>
					<div id="auto_box">
					</div>
				</div>
				
			</div>

		</div>
		<script type="text/javascript" src="../../../../../../../project/WebContent/js/missing.js"></script>
	</body>
</html>