<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<!--  CSS  -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/missingDtl.css}">
</th:block>

<div class = "container" layout:fragment="content">

<!--    <input type="hidden" id="missing_id" th:value="${missing.missingId}">-->
    <a class="goMissing" href="/missing" >목록으로 돌아가기</a>

    <div class="dtlTitle">
            <span th:if="${missing.missingKind.name() == 'DISAPPEAR'}" class="contentKind" style="color:red;">
                &nbsp;[실종]&nbsp;
            </span>
            <span th:if="${missing.missingKind.name() == 'WITNESS'}" class="contentKind" style="color:#FFBF00;">
                &nbsp;[목격]&nbsp;
            </span>
            <span th:if="${missing.missingKind.name() == 'PROTECT'}" class="contentKind" style="color:#2E9AFE;">
                &nbsp;[보호]&nbsp;
            </span>
            <span class="missing_title" th:text="${missing.missingTitle}"></span>
            <hr class="line">
        <div class="missing_subDtl_div">
            <span >작성자 : </span><span class="author" th:text="${missing.member.nickName}"></span>
            <span>작성일 : </span><span th:text="${missing.formattedRegDate}"></span>
        </div>
    </div>

    <div class="dtlSummary">
        <div class="repImgDiv">
            <img th:src="@{${missing.missingRepImg}}" class = "repImg" th:alt="${missing.missingTitle}">
        </div>

        <div class="text_right">
            <h2>기본 정보</h2>
            <div class="default_text">
                <p>마지막 목격장소</p>
                <label>:</label>
                <span th:text="${missing.sightingSpot}"></span>
            </div>
            <div class="default_text">
                <p>마지막 목격날짜</p>
                <label>:</label>
                <span th:text="${missing.sightingDate}"></span>
            </div>
            <div class="default_text">
                <p class="letter_space">보호자 연락처</p>
                <label>:</label>
                <span th:text="${missing.witnessTel}"></span>
            </div>
            <div class="default_text">
                <p class="letter_space">주요 특이사항</p>
                <label>:</label>
                <span th:text="${missing.feature}"></span>
            </div>
        </div>
    </div>

    <div class="dtlContent">
        <div class="ck_div" th:utext="${missing.missingContent}">

        </div>

        <div class="dtlImgDiv">
            <img class="dtlImgCard" th:src="@{${missing.missingRepImg}}" th:alt="${missing.missingTitle}">
        </div>
    </div>

    <div th:if="${missing.member.code == session.memberCode}">
        <form id="deleteForm" role="form" method="post"  th:object="${missingFormDTO}" >
            <div class="btn_div" >
                <a th:href="@{'/missing/write/' + ${missing.missingId} }" >수정</a>
                <a th:href="@{/missing/delete(missingId=${missing.missingId})}" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </div>
        </form>
    </div>


</div>


</html>