<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">

	<title>멍냥Zone : 내 동물 등록하기</title>

	<!-- CSS  -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/myPetForm.css}">
	</th:block>

	<!-- script  -->
	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/myPetForm.js}"></script>
	</th:block>


	<!-- content  -->
	<div layout:fragment="content">
		<div class="wrap">
			<div id="logodiv">
				<img id="line" th:src="@{/img/boxLineDrawingChar.png}" alt="">
			</div>
			<div id="contentdiv">
				<div id="titlediv">
					<div id="title">
						<img th:src="@{/img/mypet_textlogo.png}" alt="">
					</div>
				</div>
				<form id="main" role="form" onsubmit="return checknull();" method="post" enctype="multipart/form-data" th:object="${myPetFormDTO}">
					<input type="hidden" th:name="memberCode" th:value="${#session.getAttribute('memberCode')}">


					<div class="main_img">
						<label th:for="fileInput">
							<img th:src="@{/img/pet_ImgAddIcon.png}" alt="반려동물 사진 추가하기" id="previewImage">
						</label>
						<input id="fileInput"  class="img-button" type="file"  name="myPetImgFile" onclick="uploadFile()" style="display: none;" th:style="'display: none;'">
					</div>

					<table>
						<tr>
							<td class="sub_title">반려동물</td>
							<td>
								<input  type="checkbox" id="dog_check" value="DOG" name="Category" th:onclick="'orCheck(this, \'dccheck\')'" >
								<label>강아지</label>
							</td>
							<td>
								<input type="checkbox" id="cat_check" value="CAT" name="Category" th:onclick="'orCheck(this, \'dccheck\')'">
								<label>고양이</label>
								<input  id="myPetCategory" type="hidden" th:name="myPetCategory">
							</td>
						</tr>
						<tr>
							<td class="sub_title">이름</td>
							<td>
								<input th:field="*{myPetName}" type="text" id="pet_name" placeholder="이름을 입력하세요" th:onclick="nameNotEmpty()">
							</td>
							<td>
								<span id="name_lb"></span>
								<p th:if="${#fields.hasErrors('myPetName')}"
								   th:errors="*{myPetName}" class="fieldError" >Incorrect data</p>
							</td>
						</tr>
						<tr>
							<td class="sub_title">생년월일</td>
							<td >
								<input th:field="*{myPetBirth}" type="text" id="birthday_input" placeholder="2023-01-01 형식으로 입력해주세요" maxlength="10">
							</td>
							<td>
								<span id="birthday_input_lb"></span>
								<p th:if="${#fields.hasErrors('myPetBirth')}"
								   th:errors="*{myPetBirth}" class="fieldError" >Incorrect data</p>
							</td>
						</tr>
						<tr>
							<td class="sub_title">몸무게</td>
							<td>
								<input th:field="*{myPetWeight}" type="text" id="weight_input" placeholder="예) 3.25" >
								<span> kg</span>
							</td>
							<td>
								<span id="weight_input_lb"></span>
								<p th:if="${#fields.hasErrors('myPetWeight')}"
								   th:errors="*{myPetWeight}" class="fieldError" >Incorrect data</p>
							</td>
						</tr>
						<tr>
							<td colspan="3" id="text">ex) 1kg미만의 경우, 예 750g이라면 0.75로 입력</td>
						</tr>
						<tr>
							<td class="sub_title">성별</td>
							<td>
								<input type="checkbox" value="MAN" name="Gender" th:onclick="'orCheck(this, \'genderchk\')'">
								<label>남아</label>
							</td>
							<td>
								<input type="checkbox" value="FEMALE" name="Gender" th:onclick="'orCheck(this, \'genderchk\')'">
								<label>여아</label>
								<input th:field="*{myPetGender}" type="hidden" name="myPetGender">
							</td>
						</tr>
						<tr>
							<td class="sub_title">중성화</td>
							<td>
								<input type="checkbox" value="NEUTER_YES" name="Neuter" th:onclick="'orCheck(this, \'neuterchk\')'">
								<label>했어요</label>
							</td>
							<td>
								<input type="checkbox" value="NEUTER_NO" name="Neuter" th:onclick="'orCheck(this, \'neuterchk\')'">
								<label>안했어요</label>
								<input th:field="*{myPetNeuter}" type="hidden" name="myPetNeuter">
							</td>
						</tr>
						<tr id="dogkind_box">
							<td class="sub_title">견종 선택</td>
							<td>
								<select id="dogkind" onchange="petKindSet(this)">
									<option value="" selected>선택해주세요</option>
									<option value="GoldenRetriever">
										골든리트리버
									</option>
									<option value="Dachshund">
										닥스훈트
									</option>
									<option value="Maltese">
										말티즈
									</option>
									<option value="MixedBreedDog">
										믹스견
									</option>
									<option value="BorderCollie">
										보더콜리
									</option>
									<option value="beagle">
										비글
									</option>
									<option value="BichonFrise">
										비숑프리제
									</option>
									<option value="Samoyed">
										샤모예드
									</option>
									<option value="Schnauzer">
										슈나우저
									</option>
									<option value="ShihTzu">
										시츄
									</option>
									<option value="YorkshireTerrier">
										요크셔테리어
									</option>
									<option value="WelshCorgi">
										웰시코기
									</option>
									<option value="Jindodog">
										진돗개
									</option>
									<option value="Chihuahua">
										치와와
									</option>
									<option value="pug">
										퍼그
									</option>
									<option value="Pomeranian">
										포메라니안
									</option>
									<option value="poodle">
										푸들
									</option>
									<option value="FrenchBulldog">
										프렌치불독
									</option>
									<option value="else_dog">
										그 외
									</option>
								</select>
							</td>
							<td>
								<input type="text" class="selfWrite" id="dog_write" placeholder="직접입력하기" onchange="petKindSet(this)">
								<label id="dog_write_lb"></label>
							</td>
						</tr>
						<tr id="catkind_box">
							<td class="sub_title">묘종 선택</td>
							<td>
								<select id="catkind" onchange="petKindSet(this)">
									<option value="" selected>선택해주세요</option>
									<option value="NorwegianForest">
										노르웨이숲
									</option>
									<option value="Ragdoll">
										랙돌
									</option>
									<option value="RussianBlue">
										러시안블루
									</option>
									<option value="MaineCoon">
										메인쿤
									</option>
									<option value="Munchkin">
										먼치킨
									</option>
									<option value="Bengal">
										뱅갈
									</option>
									<option value="BritishShortHair">
										브리티시 쇼트헤어
									</option>
									<option value="BritishLongHair">
										브리티시 롱헤어
									</option>
									<option value="Siberian">
										시베리안
									</option>
									<option value="Siamese">
										샴
									</option>
									<option value="ScottishFold">
										스코티시 폴드
									</option>
									<option value="Sphynx">
										스핑크스
									</option>
									<option value="Savannah">
										사바나
									</option>
									<option value="AmericanShortHiar">
										아메리칸 쇼트헤어
									</option>
									<option value="Abyssinian">
										아비시니안
									</option>
									<option value="KoreanShortHiar">
										코리안 쇼트헤어
									</option>
									<option value="TurkishAngora">
										터키쉬 앙고라
									</option>
									<option value="Persian">
										페르시안
									</option>
									<option value="else_cat">
										그 외
									</option>
								</select>
								<input th:field="*{myPetKind}" type="hidden"  name="myPetKind">

							</td>
							<td>
								<input  type="text" class="selfWrite"  id="cat_write" placeholder="직접입력하기" onchange="petKindSet(this)">
								<label id="cat_write_lb"></label>
							</td>
						</tr>
						<tr>
							<td colspan="3" ><input type="submit" id="submit_btn" value="등록하기"></td>
						</tr>
					</table>

					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</div>
	</div>
</html>