<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<!--  CSS  -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPost.css}">
</th:block>

<div class = "wrap" layout:fragment="content">
    <div>
        <form>
            <div class="showKind">
                <input type="button" value="내가 쓴 글">
                <input type="button" value="내가 쓴 댓글">
            </div>

            <div>
                <table class="show_table">
                    <thead>
                    <tr class="line">
                        <td class="board_name center">게시판명</td>
                        <td class="content_num center">글 번호</td>
                        <td class="content_title">글 제목</td>
                        <td class="writer center">작성자</td>
                        <td class="reporting_date center">작성일</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center">실종</td>
                        <td class="center">1</td>
                        <td>제목입니다</td>
                        <td class="center">뽀또맘</td>
                        <td class="center">2023-12-27</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="pagination_div" >

                <ul class="pagination">

                    <li class="pageMoveBtn pageMoveMargin" >
                        <a  aria-label='Previous'>
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>

                    <li class="pageMoveBtn" >
                        <a th:inline="text" >[[${page}]]</a>
                    </li>

                    <li class="pageMoveBtn" >
                        <a  aria-label='Next' >
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>

                </ul>
            </div>


        </form>

    </div>

</div>


</html>