<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">

    </th:block>

    <!--  CSS  -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/myPost.css}">
    </th:block>

    <div class = "wrap" layout:fragment="content">
        <div>
            <form>

            </form>

        </div>

    </div>


</html>