<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/t_login.css}"/>
</th:block>
<th:block layout:fragment="script">


</th:block>




<th:block layout:fragment="content">

    <div id="main_notice">
        <div id="notice_search">
            <h2 id="notice_title">공지사항</h2>
            <div id="search_input_div"><input type="text" id="search_input_input" placeholder="검색"/></div>
            <div><a href="/notice/new">글쓰기</a></div>
        </div>
<!--        <div id="notice_content">-->
<!--            <table id="notice_table">-->
<!--                <tr><th>전체</th><th>제목</th><th>날짜</th> </tr>-->
<!--                &lt;!&ndash; 공지사항 최상단 중요 &ndash;&gt;-->
<!--                <th:block th:each = "notice, status:${notices.getContent()}">-->
<!--                    <a th:href="'/notice/' + ${notice.id}}">-->
<!--                        <tr><td>[[${notice.noticeTitle}]]</td><td>[[${notice.noticeContent}]]</td><td>[[${notice.regTime}]]</td></tr>-->

<!--                    </a>-->

<!--                </th:block>-->
<!--&lt;!&ndash;                <tr class="important_tr"><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr class="important_tr"><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr class="important_tr"><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; 공지사항 일반&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr><td>공지</td><td>시스템 개편사항</td><td>2023.08.07</td></tr>&ndash;&gt;-->
<!--            </table>-->
<!--            <div id="count"></div>-->
<!--        </div>-->



    </div>
</th:block>
</html>