<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}"/>
</th:block>
<th:block layout:fragment="script">

    <script th:inline="javascript">



    </script>
</th:block>
    <div id ="noticeDetailWrapper">
        <div id="noticeDetailTitle"><h2 th:text="${noticeDetail.noticeTitle}"></h2></div>
        <div id="noticeDetailSubTitle">
            <span th:text="noticeDetail.noticeRegTime"></span>
            <span th:text="${noticeDetail.noticeKind.displayValue}"></span>
        </div>
        <div id="noticeDetailContent">
            <div class="noticeDetailRealContent" th:text="noticeDetail.noticeContent"></div>
        </div>
    </div>



<th:block layout:fragment="content">


</th:block>
</html>