<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/t_login.css}"/>

</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>

</th:block>

<th:block layout:fragment="content">

    <div id="contaniner">
        <div id="title">
            <img id="titleimg" alt="로그인.png" th:src="@{/img/login_dog.png}">
        </div>
        <form id="box" name="form1" method="post" action="/members/login">
            <input class="log" type="text" name="id" placeholder="아이디를 입력해주세요.">
            <input class="log" type="password" name="password" placeholder="비밀번호를 입력해주세요">
            <input type="button" id="btlog" value="로그인" onclick="Login();">

        </form>

</th:block>
</html>